* {
    touch-action: manipulation; /* отключает зум при двойном тапе */
    user-select: none; /*Отрубаем выделение текста*/
}
.disabledDiv {
    pointer-events: none;
}


/*----------------------------Ползалка с индикатором------------------------------------*/
.mainBar {
    width: 50vw;
    height: 5vh;
    background: #757575;
    border-radius: 10px;
    border: 3px solid white;
    overflow: hidden;
    position: relative;
}
.winBar {
    height: 100%;
    width: 30%;
    margin-left: 0%;
    background: #65fd00;
    transition: all 0.1s ease;
    position: absolute;
}
.indicator{
    height: 100%;
    width: 2%;
    background: black;
    transition: all 0.1s ease;
    position: absolute;
}

/*--------------------------------Кнопка Ататки----------------------------------*/
#myProgress {
    width: 100%;
    width: 35%;
    height: 7vh;
    border-radius: 20px;
    background: url("images/icons/dmg.webp") no-repeat center center;
    background-size: contain;
    background-color: silver;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    font-family: gabriola;
    text-align: center;
}

#myProgress p {
    position: absolute;
    text-align: center;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: gray;
    background: url("images/sword.webp") center center no-repeat;
    background-size: contain;
    height: 7vh;
    border-radius: 20px;
    transition: all 1s ease-in;
    position: absolute;
}

.ggMainBar {
    background-color: grey;
    width: 45%;
    width-max: 200px;
    width-min: 100px;
    height: 2vh;
    border-radius: 10px;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 1.2vh;
    margin-left: 0.5vw;
    overflow: hidden;
}

/*--------------------------------Голод ГГ-----------------*/
#hungerBar {
    width: 100%;
    height: 30px;

    background-color: #ffaf00;
    height: 2vh;
    border-radius: 20px;
    transition: all 2s;
}

/*--------------------------------Здоровье ГГ------------------*/
#ggBar {
    width: 100%;
    height: 30px;
    background-color: #379700;
    height: 2vh;
    border-radius: 20px;
    transition: all 2s;
}

/*------------------------------Инвентарь--------------------------*/
.inventory{
    width: 80%;
    height: 50%;
    background-color: #cdcdcd;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 20px;
    border: 5px solid #89acc1;
}

.cell{
    width: 100px;
    height: 100px;
    background:  radial-gradient(#ecd0a4, #4e4444);
    border-radius: 20px;
    margin: 1%;
    border: 5px solid #89acc1;
}

.count {
    width: 30px;
    height: 30px;
    background-color: #ffffff;
    border-radius: 20px;
    border: 2px solid #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: bold;
}

.invBtn {
    width: 30%;
    height: 97%;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.invBtn button {
    width: 70%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-bottom: 1%;
    font-family: gabriola;
    font-size: 1.8vw;
}

.inventory p {
    width: 60%;
    text-align: center;
}

/*--------------------------------Рыбалочка---------------------*/
.fishingDiv {
    background-color: grey;
    width: 80%;
    width-max: 200px;
    width-min: 100px;
    height: 2vh;
    border-radius: 20px;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 2%;
    box-shadow: 10px 10px 10px black;
    overflow: hidden;
}

.fishingDivBar {
    width: 50%;
    height: 100%;
    background: #379700;
    transition: width 0.5s;
}

/*--------------------------------Здоровье врага---------------*/
#enemyHpBar {
    background-color: grey;
    width: 45%;
    width-max: 200px;
    width-min: 100px;
    height: 2vh;
    border-radius: 20px;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
}

#enemyBar {
    width: 100%;
    height: 30px;
    background-color: "#a02525";
    height: 2vh;
    border-radius: 20px;
    transition: all 2s;
}

/*---------------------------------БАЗА----------------------------------------------*/

.logo {
    width: 60vw;
    display: block;
    margin: auto;
    margin-top: 5%;
}

body {
    margin: 0%;
    width: 100%;
    height: 100%;
    background: url('images/hub.jpg') center center no-repeat;
    background-size: cover;
    font-size: 2vw;
    font-family: Gabriola;
    overflow: hidden;
}

/*-----------------------------------Верхнее меню-----------------------------------*/
.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 5%;
    margin: auto;
}

.menu button {
    margin-top: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 8%;
    height: 100%;
    background-color: #d4e4f6;
    background-size: 60%;
    border: none;
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

.btnMusic {
    background: url("images/icons/menu.webp") center center no-repeat;
}

.btnProfile {
    background: url("images/icons/profile.png") center center no-repeat;
}

.stats {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    padding-right: 0.5%;
}

#stats img {
    height: 70%;
    margin-left: 0.5vw;
}

/*---------------------------Изображение персонажа---------------------------*/
.characterImage {
    width: 15vw;
    height: 15vw;
    margin: auto;
    background-size: contain;
    background-position: center;
    margin-top: 2%;
}


#textBox {
    width: 50%;
    min-height: 20%;
    padding: 0.2%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    text-align: center;
}

#textBox p {
    width: 90%;
    text-align: center;
    margin-left: 3%;
    margin-top: 0%;
}

#textBox img {
    height: 3%;
}

/*-----------------------------Кнопковое---------------------------------*/
.buttonBox {
    width: 50%;
    height: 25%;
    margin: auto;
}

.buttonBox button {
    width: 20vw;
    width-max: 300px;
    width-min: 700px;
    height: 30%;
    border-radius: 20px;
    background-color: silver;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
    font-size: 2vw;
    font-family: gabriola;
}

.buttonBox button:hover {
    background-color: white;
    transform: scale(1.02);
    transition-duration: 0.4s;
}

button img {
    height: 35%;
}

#enemyImage{
    width: 35vw;
    height: 35vw;
    display: block;
    margin: auto;
}

#cut {
    background: url("images/cut.webp") center center no-repeat;
    width: 100%;
    height: 100%;
    opacity: 0;
}

.cutAnim {
    animation: cutAnimkey 0.8s linear alternate-reverse;
}

@keyframes cutAnimkey {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.4;
        transform: translateY(-5%);
    }
}


#fist button {
    width: 20%;
    height: 8%;
    border-radius: 20px;
    background-color: silver;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
    font-size: 2.1vw;
    font-family: gabriola;
}

#fist {
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
}

.startEnemyAnimation {
    animation: enemyReaction 1s linear alternate-reverse;
}

@keyframes enemyReaction {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(0.8);
    }
}


.heroProfile {
    width: 65vw;
    height: 80vh;
    background: rgba(255, 255, 255, 0.9);
    position: absolute;
    border-radius: 20px;
    padding-top: 2%;
    display: none;
    top: 10%;
    left: 18%;
    overflow-y: scroll;
    text-align: center;
}


@media (max-width: 700px) {
    .logo {
        width: 90vw;
        display: block;
        margin: auto;
        margin-top: 20%;
        margin-bottom: 10%;
    }

    body {
        font-size: 18px;
    }

    .characterImage {
        width: 55vw;
        height: 55vw;
        margin: auto;
        background-size: contain;
        background-position: center;
        margin-top: 3%;
    }

    #textBox {
        width: 80vw;
        min-height: 20%;
        padding: 0.5%   ;
        margin: auto;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
        text-align: center;
    }

    #textBox p {
        margin-top: 3%;
    }

    .buttonBox button {
        width: 40vw;
        width-max: 300px;
        width-min: 700px;
        height: 30%;
        border-radius: 20px;
        background-color: silver;
        display: block;
        margin: auto;
        margin-top: 1%;
        box-shadow: 10px 10px 10px black;
        font-size: 20px;
        font-family: gabriola;
    }

    .menu {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 5%;
        margin: auto;
    }

    .menu button {
        width: 10%;
        margin-right: 3%;
        background-size: 60%;
    }

    .stats {
        width: 80%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 1%;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
    }

    #enemyHp {
        width: 30%;
        height: 7%;
        margin: auto;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
        text-align: center;
        align-items: center;
    }

    #enemyImage{
        width: 80vw;
        height: 80vw;
        display: block;
        margin: auto;
    }

    #fist button {
        width: 40vw;
        height: 8%;
        border-radius: 20px;
        background-color: silver;
        display: block;
        margin: auto;
        margin-top: 1%;
        box-shadow: 10px 10px 10px black;
        font-size: 20px;
        font-family: gabriola;
    }
    /*--------------------------Профиль--------------------*/
    .heroProfile {
        width: 85vw;
        height: 80vh;
        top: 10%;
        left: 9%;
    }

    /*------------------------Инвентарь-----------------------*/
    .inventory{
        width: 90%;
        height: 50%;
        background-color: #cdcdcd;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        border: 5px solid #89acc1;
        font-size: 3.2vw;
    }

    .inventory p {
        width: 90%;
        text-align: center;
    }

    .cell{
        width: 27%;
        height: 27%;
        background:  radial-gradient(#ecd0a4, #4e4444);
        border-radius: 20px;
        margin: 1%;
        border: 5px solid #89acc1;
    }

    .count {
        width: 30%;
        height: 30%;
        background-color: #ffffff;
        border-radius: 20px;
        border: 2px solid #000000;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: bold;
    }

    .invBtn {
        min-width: 40%;
        height: 97%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .invBtn button {
        width: 70%;
        height: 20%;
        border-radius: 20px;
        margin-bottom: 1%;
        font-size: 3.2vw;
    }

    .inventory p {
        width: 59%;
        text-align: center;
    }

}
