* {
    touch-action: manipulation; /* отключает зум при двойном тапе */
    user-select: none; /*Отрубаем выделение текста*/
}


/*--------------------------------Кнопка Ататки----------------------------------*/
#myProgress {
    width: 100%;
    width: 35%;
    height: 7vh;
    border-radius: 20px;
    background: url("images/icons/dmg.webp") no-repeat center center;
    background-size: contain;
    background-color: silver;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    font-family: gabriola;
    text-align: center;
}

#myProgress p {
    position: absolute;
    text-align: center;
}

#myBar {
    width: 0%;
    height: 30px;
    background-color: gray;
    background: url("images/sword.webp") center center no-repeat;
    background-size: contain;
    height: 7vh;
    border-radius: 20px;
    transition: all 1s ease-in;
    position: absolute;
}


.disabledDiv {
    pointer-events: none;
}

/*--------------------------------Здоровье врага---------------*/
#enemyHpBar {
    width: 100%;
    background-color: grey;
    width: 45%;
    width-max: 200px;
    width-min: 100px;
    height: 2vh;
    border-radius: 20px;
    border: 2px solid white;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
}

#enemyBar {
    width: 100%;
    height: 30px;
    background-color: #a02525;
    height: 2vh;
    border-radius: 20px;
    transition: all 2s;
}


body {
    margin: 0%;
    width: 100%;
    height: 100%;
	background: url('images/hub.jpg') center center no-repeat;
	background-size: cover;
	font-size: 2vw;
	font-family: gabriola;
    overflow: hidden;
}

.stats {
	width: 20%;
	height: 5%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
    margin-top: 1%;
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
	box-shadow: 10px 10px 10px black;
}

.dep {
    width: 25%;
    height: 19%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 1%;
    background-color: rgba(255,255,255,0.8);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
}

#stats img {
	height: 70%;
	margin-left: 6%;
}

.characterImage {
	width: 15vw;
	height: 15vw;
	margin: auto;
	background-size: contain;
    background-position: center;
	margin-top: 1%;
}


#textBox {
	width: 50%;
    min-height: 20%;
    padding: 0.5%   ;
	margin: auto;
	background-color: rgba(255,255,255,0.7);
	border-radius: 20px;
	box-shadow: 10px 10px 10px black;
	text-align: center;
}

#textBox p {
	width: 90%;
	text-align: center;
	margin-left: 3%;
	margin-top:0%;
}

.buttonBox {
	width: 50%;
	height: 25%;
	margin: auto;
}

.buttonBox button {
	width: 20vw;
    width-max: 300px;
    width-min: 700px;
	height: 30%;
	border-radius: 20px;
	background-color: silver;
	display: block;
	margin: auto;
	margin-top: 1%;
	box-shadow: 10px 10px 10px black;
    font-size: 2vw;
	font-family: gabriola;
}

.buttonBox button:hover {
	background-color: white;
    transform: scale(1.02);
    transition-duration: 0.4s;
}

button img {
    height: 35%;

}

.startBtn {
    display: block;
}

.close {
    display: none;
}

.btnMusic{
    width:9%;
    height: 80%;
    background: url("music.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

.btnProfile {
    width:9%;
    height: 80%;
    background: url("images/icons/profile.png");
    background-size: contain;
    border: none;
    background-repeat: no-repeat;
}

table {
    width: 60%;
    width: 60%;
    border: 1px solid black;
}

#fightScene{
    width:100%;
    height: 100%;
    background: url("https://avatars.mds.yandex.net/i?id=6011f9ffe6bd29aecb49239f94e2afdd_l-12613260-images-thumbs&n=13");
    background-size: cover;
}

.twoButtons {
    display: flex;
    justify-content: center;
    align-items: center;
}

#enemyImg {
    width: 60%;
    height: 60%;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin-top: 1%;
}
#enemyHp {
    width: 10%;
    height: 7%;
    margin: auto;
    background-color: rgba(255,255,255,0.7);
    border-radius: 20px;
    box-shadow: 10px 10px 10px black;
    text-align: center;
    align-items: center;
}
#fist button {
    width: 20%;
    height: 8%;
    border-radius: 20px;
    background-color: silver;
    display: block;
    margin: auto;
    margin-top: 1%;
    box-shadow: 10px 10px 10px black;
    font-size: 2.1vw;
    font-family: gabriola;
}

#fist {
    top: 0%;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    position: absolute;
}

.startEnemyAnimation {
    animation: enemyReaction 0.8s linear alternate-reverse;
}

@keyframes enemyReaction {
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(0.9);
    }
}


#heroProfile {
    width: 65%;
    height: 80%;
    background: rgba(255,255,255,0.9);
    position: absolute;
    border-radius: 20px;
    padding-top: 2%;
    display: none;
    top: 10%;
    left: 18%;
}

#heroProfile p {
    text-align: center;
}

@media (max-width: 700px) {
    body {
        margin: 0%;
        width: 100%;
        height: 100%;
        background: url('images/hub.jpg') center center no-repeat;
        background-size: cover;
        font-size: 18px;
        font-family: gabriola;
        overflow: hidden;
    }

    .characterImage {
        width: 55vw;
        height: 55vw;
        margin: auto;
        background-size: contain;
        background-position: center;
        margin-top: 1%;
    }

    #textBox {
        width: 80vw;
        min-height: 20%;
        padding: 0.5%   ;
        margin: auto;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
        text-align: center;
    }

    #textBox p {
        margin-top: 3%;
    }

    .buttonBox button {
        width: 40vw;
        width-max: 300px;
        width-min: 700px;
        height: 30%;
        border-radius: 20px;
        background-color: silver;
        display: block;
        margin: auto;
        margin-top: 1%;
        box-shadow: 10px 10px 10px black;
        font-size: 20px;
        font-family: gabriola;
    }

    .stats {
        width: 65%;
        height: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: auto;
        margin-top: 1%;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
    }

    #enemyHp {
        width: 30%;
        height: 7%;
        margin: auto;
        background-color: rgba(255,255,255,0.7);
        border-radius: 20px;
        box-shadow: 10px 10px 10px black;
        text-align: center;
        align-items: center;
    }

    #fist button {
        width: 40vw;
        height: 8%;
        border-radius: 20px;
        background-color: silver;
        display: block;
        margin: auto;
        margin-top: 1%;
        box-shadow: 10px 10px 10px black;
        font-size: 20px;
        font-family: gabriola;
    }
}